body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #917ffa;
    margin: 0;
}

.calculator {
    border: 5px solid #d16e11;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #070018;
}

#display {
    width: 100%;
    font-size: 2em;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
    border: none;
    background-color: #895af5;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

button {
    font-size: 1.5em;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #08d486;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #065852;
}
